<div class="edit">
  <h3 class="creature-name">Edit This Creature</h3>
  <%= form_for @creature do |f| %>
      <strong>Name: </strong><%= f.text_field :name %>
      <strong>Description: </strong><%= f.text_area :description %>
      <%= f.submit "Save Creature" %>
  <% end %>
</div>