<div class="add-link">Add New Creature</div>

<% @creatures.each do |creature| %>
    <p class="cards">
        <strong>Name:</strong>
        <%= creature.name %><br>
            <strong>Description:</strong>
            <%= creature.description %>
    </p>
    <% end %>