<h3 class="creature-name">
<%= @creature.name %></h3>
<p class="content-title">Desription:</p>
<p class="card"> <%=  @creature.description %></p>
<%= button_to "Delete", @creature, method: :delete, :class => "waves-effect waves-light btn delete" %>
<%= button_to "Edit", edit_creature_path(@creature), method: :get, :class => "waves-effect waves-light btn" %>
