// Place all the styles related to the creatures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";
.container {
    padding: 5em;
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.brand-logo {
    margin-left: 30px;
}

.row {
    width: 100%;
}

.nav-wrapper {
    background-color: rgb(63.9%, 62.2%, 97.2%);
}

.cards {
    background: rgb(96.4%, 96.4%, 96.4%);
    margin: 0;
    padding: 30px;
}

.cards:nth-child(even) {
    background: rgb(91.1%, 94.8%, 95.2%);
}

.show-name {
    text-align: center;
    font-family: 'Rationale', sans-serif;
}

.field-name {
    font-weight: bold;
}

.add-link {
    text-align: right;
}